
*{
    font-family:Cambria, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e747a;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vw;
    transform: translate(-50%,-50%);
    min-height: 45vh;
    max-height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    background-color: #476A6F;
    border-radius: 8px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
    
}

h2{
  margin-top: 10px;
  margin-bottom: 10px;
    /* position: relative;
    top: -5px; */
    font-size: 1.3rem;
}

.p{
    margin-right:50px;
    margin-left:50px;
    font-size: 1rem;
}

.p1{
    margin-top: 10px;
    margin-right: 10px;
    margin-left:75%;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.b{
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    height: 6vh;
    width: 20vw;
    /* max-width: 200px; */
    font-size: 0.8rem;
    
}
#b1{
    background-color: #476A6F;
    color: white;
    border: 2px solid white;
}

#b2{
    background-color: #476A6F;
    color: white;
    border: 2px solid white;
}

:hover#b1{
    background-color: white;
    color: #476A6F;
    cursor: pointer;
}
:hover#b2{
    background-color: white;
    color: #476A6F;
    cursor: pointer;
}

@media(max-width:434px){
   .button{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
   }
  .b{
    width: 60vw;
  }
   
   #b1{
    margin-bottom: 10px;
   }

   .container{
    max-height: auto;
    width: 90vw;
   }

}